<div class="details panel panel-info pre-scrollable">
    <div class="panel-heading">{{ node.name }}</div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-sm table-responsive">
          <thead class="thead-default">
            <tr>
              <th>#</th>
              <th>Feature</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">0</th>
              <td>price</td>        
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>accommodates</td>      
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>bedrooms</td>      
            </tr>
             <tr>
              <th scope="row">3</th>
              <td>beds</td>        
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>reviews_per_month</td>      
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>number_of_reviews</td>      
            </tr>
             <tr>
              <th scope="row">6</th>
              <td>availability_30</td>        
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>review_scores_rating</td>      
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>cultural_organizations</td>      
            </tr>
             <tr>
              <th scope="row">9</th>
              <td>incidents</td>        
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Bronx</td>      
            </tr>
            <tr>
              <th scope="row">11</th>
              <td>Brooklyn</td>      
            </tr>
             <tr>
              <th scope="row">12</th>
              <td>Manhattan</td>      
            </tr>
            <tr>
              <th scope="row">13</th>
              <td>Queens</td>      
            </tr>
             <tr>
              <th scope="row">14</th>
              <td>Staten Island</td>        
            </tr>
            <tr>
              <th scope="row">15</th>
              <td>Entire home/apt</td>      
            </tr>            
             <tr>
              <th scope="row">16</th>
              <td>Private room</td>        
            </tr>
            <tr>
              <th scope="row">17</th>
              <td>Shared room</td>      
            </tr>
            <tr>
              <th scope="row">18</th>
              <td>flexible</td>      
            </tr>
             <tr>
              <th scope="row">19</th>
              <td>long_term</td>        
            </tr>
            <tr>
              <th scope="row">20</th>
              <td>moderate</td>      
            </tr>
            <tr>
              <th scope="row">21</th>
              <td>no_refunds</td>      
            </tr>
            <tr>
              <th scope="row">22</th>
              <td>strict</td>      
            </tr>
            <tr>
              <th scope="row">23</th>
              <td>super_strict_30</td>      
            </tr>
             <tr>
              <th scope="row">24</th>
              <td>instant_t</td>        
            </tr>            
          </tbody>
        </table>
    </div>
</div>